<footer>
    <div class="container">

        <div class="row">
            <div class="col-xs-6 col-s-3 icon-footer">
                <img src="img/icon-customer-service.png" alt="icono de envios"heigh="60"/>
                <p><strong>Envios gratis </strong> <br>Por 29€ de compra</p>
            </div>

            <div class="col-xs-6 col-s-3 icon-footer">
                    <img src="img/icon-refund.png"alt="icono devolucion" height="60"/>
                    <p><strong>Devoluciones gratis </strong> <br>Tienes 90 días</p>
            </div>

            <div class="col-xs-6 col-s-3 icon-footer">
                    <img src="img\icon-customer-service.png" alt="icono cliente" height="60"/>
                    <p><strong>Atencion al cliente </strong> <br>7 dias a la semana</p> 
            </div>
            
            <div class="col-xs-6 col-s-3 icon-footer">
                    <img src="img/icon-secure.png" alt="icono de pago" height="60"/>
                    <p><strong>Pago seguro </strong> <br>100% confianza</p>
            </div>
        </div>

        <p>&copy;Elisa Sancho</p>
    </div>
    
</footer>
