<h1 class="title-products">Vestidos mujer</h1>

<div class ="row">
    <div>
        <div class="col-xs-12">

        <form>
              <input class ="search-input" type="search"name="search"placeholder="busca el articulo o una referencia.."> 
          </form>

          <select class="select-order">
              <option>Precio más bajo</option>
              <option>Precio más alto</option>
              <option>Por opiniones</option>
              <option>Por descuento</option>
          </select>
    </div>   
</div>

<div class="row">
    <a href="#"class="col-m-4 col-s-6 products-box">
        <img alt="producto 1" src="img/producto1.jpg" width="100%"/>
        <div class="hidden offer">Oferta</div>
        <h3>Vestido cruzado largo</h3>
        <strong class="price">29,99€</strong>
    </a>

    <a href="#"class="col-m-4 col-s-6 products-box">
        <img alt="producto 1" src="img/producto2.jpg" width="100%"/>
        <div class="hidden offer">Oferta</div>
        <h3>Vestido cruzado largo con estampado de flores</h3>
        <strong class="price"><del>30€</del>  27,99</strong>
    </a>

    <a href="#"class="col-m-4 col-s-6 products-box">
        <img alt="producto 1" src="img/producto3.jpg" width="100%"/>
        <div class="hidden offer">Oferta</div>
        <h3>Vestido corto con botones</h3>
        <strong class="price">29,99€</strong>
    </a>

    <a href="#"class="col-m-4 col-s-6 products-box">
        <img alt="producto 1" src="img/producto4.jpg" width="100%"/>
        <div class="hidden offer">Oferta</div>
        <h3>Vestido evase corto,con cuello cuadrado</h3>
        <strong class="price">29,99€</strong>
    </a>

    <a href="#"class="col-m-4 col-s-6 products-box">
        <img alt="producto 1" src="img/producto5.jpg" width="100%"/>
        <div class="hidden offer">Oferta</div>
        <h3>Vestido cruzado largo</h3>
        <strong class="price">29,99€</strong>
    </a>

    <a href="#"class="col-m-4 col-s-6 products-box">
        <img alt="producto 1" src="img/producto6.jpg" width="100%"/>
        <div class="hidden offer">Oferta</div>
        <h3>Vestido cruzado largo con estampado de flores</h3>
        <strong class="price"><del>49.99€</del>  29,99€</strong>
    </a>

    <a href="#"class="col-m-4 col-s-6 products-box">
        <img alt="producto 1" src="img/producto7.jpg" width="100%"/>
        <div class="hidden offer">Oferta</div>
        <h3>Vestido cruzado largo con estampado </h3>
        <strong class="price">39,99€</strong>
    </a>

    <a href="#"class="col-m-4 col-s-6 products-box">
        <img alt="producto 1" src="img/producto8.jpg" width="100%"/>
        <div class="hidden offer">Oferta</div>
        <h3>Vestido cruzado largo con flores</h3>
        <strong class="price">39,99€</strong>
    </a>

    <a href="#"class="col-m-4 col-s-6 products-box">
        <img alt="producto 1" src="img/producto9.jpg" width="100%"/>
        <div class="hidden offer">Oferta</div>
        <h3>Vestido manga larga</h3>
        <strong class="price"><del>49,99</del>  29,99€</strong>
    </a>

    <a href="#"class="col-m-4 col-s-6 products-box">
        <img alt="producto 1" src="img/producto10.jpg" width="100%"/>
        <div class="hidden offer">Oferta</div>
        <h3>Vestido corto con tirantes</h3>
        <strong class="price"><del>39,99</del> 29,99€</strong>
    </a>

    <a href="#"class="col-m-4 col-s-6 products-box">
        <img alt="producto 1" src="img/producto11.jpg" width="100%"/>
        <div class="hidden offer">Oferta</div>
        <h3>Vestido cruzado largo</h3>
        <strong class="price">29,99€</strong>
    </a>

    <a href="#"class="col-m-4 col-s-6 products-box">
        <img alt="producto 1" src="img/producto12.jpg" width="100%"/>
        <div class="hidden offer">Oferta</div>
        <h3>Vestido corto tirantes</h3>
        <strong class="price"><del>49.99€</del> 29,99€</strong>
    </a>
</div>

<ul class="pagination">
    <li> <a href="#"class="active">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li>...</li>
    <li><a href="#">10</a></li>
</ul>